In [1]:
import json
import numpy as np
import cv2 
from PIL import Image
import re
import pandas as pd
import glob
import random

In [10]:
json_open = open('json/fearure_json.json', 'r')
json_load = json.load(json_open)

In [11]:
df = pd.DataFrame.from_dict(json_load, orient='index')

In [92]:
def make_ratio(data):
    return data['width']/data['height']

def col_median(data):
    return (data[0]+data[1])/2

def col_range(data):
    return data[1]-data[0]

In [93]:
df['ratio'] = df.apply(make_ratio, axis=1)
df['depth_median'] = df['depth'].apply(col_median)
df['depth_range'] = df['depth'].apply(col_range)

In [94]:
def add_y(data):
    return data.name

In [95]:
df['y'] = df.apply(add_y, axis=1)
df['length'] = df['width'] + df['height']

In [88]:
df_ = pd.read_csv('standard_feature_v2.csv')

In [89]:
df_

,width,height,area,depth_sum,depth_sum/area,length,depth_median,depth_mean,ratio,y
0,138,155,21390,5553312,259.6,293,317.0,259.6,0.890323,tepra
1,149,145,21605,6167369,285.5,294,299.0,285.5,1.027586,tape
2,199,301,59899,16973379,283.4,500,291.0,283.4,0.661130,realsense
3,172,177,30444,8952184,294.1,349,314.0,294.1,0.971751,papertape
4,138,200,27600,7555467,273.7,338,294.0,273.7,0.690000,dog
5,170,199,33830,9866333,291.6,369,311.0,291.6,0.854271,iris
6,152,254,38608,11864576,307.3,406,318.0,307.3,0.598425,allegra
7,94,175,16450,5486908,333.6,269,333.0,333.6,0.537143,mintia
8,210,306,64260,19093291,297.1,516,309.0,297.1,0.686275,amazon

In [12]:
df = pd.read_csv('../first.csv')

In [13]:
df

,width,height,area,depth_sum,depth_sum/area,length,depth_median,depth_mean,ratio,r_median,b_median,g_median,r_mean,b_mean,g_mean,r_sum,b_sum,g_sum,category,y
0,82,237,19434,4647873,239.16,319,265.0,239.2,2.890244,100.0,121.0,131.0,95.13,114.00,123.59,1848666,2215566,2401933,box,iris_0
1,175,196,34300,9974196,290.79,371,319.0,290.8,1.120000,79.0,103.0,101.0,69.61,95.97,96.27,2387689,3291828,3302039,box,iris_1
2,212,85,18020,4196451,232.88,297,248.0,232.9,2.494118,88.0,103.5,116.0,87.23,102.39,114.73,1571876,1845101,2067368,box,iris_2