# PART2 重回帰モデルを作ってみよう

## おまじない

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

## データの読み込み
- train.csvとtest.csvとsample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう
- sampleを読み込む時は、header=Noneというオプションを忘れないようにしましょう

In [8]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
sample = pd.read_csv("data/sample.csv", header=None)

## trainのweekの各値がそれぞれいくつあるか数えてみましょう

In [9]:
train["week"].value_counts()

木    43
水    43
火    41
金    41
月    39
Name: week, dtype: int64

## trainのweekを試しにダミー変数化してみよう
- pd.get_dummies関数を使います
- カッコの中にダミー変数化したい変数を書きます

In [12]:
pd.get_dummies(train["week"])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
..  .. .. .. .. ..
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

## trainからweekとtemperatureを抜きだし、ダミー変数化したものを変数trainXに代入しよう

In [14]:
trainX = pd.get_dummies(train[["week", "temperature"]])

     temperature  week_月  week_木  week_水  week_火  week_金
0           19.8       1       0       0       0       0
1           17.0       0       0       0       1       0
2           15.5       0       0       1       0       0
3           15.2       0       1       0       0       0
4           16.1       0       0       0       0       1
..           ...     ...     ...     ...     ...     ...
202         24.8       0       0       1       0       0
203         25.4       0       1       0       0       0
204         27.1       0       0       0       0       1
205         26.6       1       0       0       0       0
206         28.1       0       0       0       1       0

[207 rows x 6 columns]

## trainXの中身を確認してみましょう

In [15]:
trainX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

## trainからyを取り出し、変数yに代入しましょう

In [16]:
y = train["y"]

## 回帰モデルの箱を用意しましょう
- 変数名はmodelとしましょう

In [17]:
model = LR()

## 重回帰モデルを作りましょう

In [18]:
model.fit(trainX, y)

LinearRegression()

## 作ったモデルの傾きや切片を確かめてみましょう

In [19]:
model.coef_

array([-2.53878074,  8.26339936, -9.47240196, -2.02873774,  1.85251984,
        1.38522051])

In [20]:
model.intercept_

135.69119841401601

# 実習

1.testからweekとtemperatureを抜きだし、ダミー変数化したものを変数testXに代入しよう

In [23]:
testX = pd.get_dummies(test[["week", "temperature"]])

2.testXの中身を確認しよう

In [24]:
testX

    temperature  week_月  week_木  week_水  week_火  week_金
0          20.2       0       0       1       0       0
1          23.9       0       1       0       0       0
2          28.7       0       0       0       0       1
3          21.5       1       0       0       0       0
4          22.1       0       0       0       1       0
5          23.3       0       0       1       0       0
6          22.5       0       1       0       0       0
7          26.1       0       0       0       0       1
8          26.8       0       0       0       1       0
9          15.6       0       0       1       0       0
10         18.6       0       1       0       0       0
11         23.0       0       0       0       0       1
12         23.9       1       0       0       0       0
13         20.2       0       0       0       1       0
14         15.5       0       0       1       0       0
15         14.7       0       1       0       0       0
16         18.7       0       0       0       0       1
17         22.7       1       0       0       0       0
18         19.1       0       0       0       1       0
19         19.6       0       0       1       0       0
20         19.6       0       1       0       0       0
21         18.8       0       0       0       0       1
22         18.9       0       0       0       1       0
23         16.0       0       0       1       0       0
24         19.2       0       1       0       0       0
25         20.1       0       0       0       0       1
26         21.2       1       0       0       0       0
27         14.7       0       0       0       1       0
28         14.4       0       0       1       0       0
29         19.5       0       1       0       0       0
30         15.8       0       0       0       0       1
31         14.3       1       0       0       0       0
32         16.1       0       0       0       1       0
33         14.9       0       0       1       0       0
34         10.5       0       1       0       0       0
35         14.9       0       0       0       0       1
36         11.4       0       0       0       1       0
37          9.2       0       0       1       0       0
38         15.1       0       1       0       0       0
39         15.3       0       0       0       0       1

3.modelとtestXを使って予測をして、予測結果を変数名predに代入しよう

In [ ]:
pred = model.predict(testX)

4.sample[1]にpredを代入して、"submit3.csv"というファイル名でファイル出力しよう

5.submit3.csvをDeepAnalyticsに投稿して、submit1.csvやsubmit2.csvのスコアと比較してみよう